$screen-sm-min:576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xs-max: $screen-sm-min;
$screen-sm-max: $screen-md-min;
$screen-md-max: $screen-lg-min;
$screen-lg-max: $screen-xl-min;
